@model WebTestApp.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div class="row row-cols-1 row-cols-md-2">
    @foreach (var item in ViewData["adresses"] as IList<Address>)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">
                            <p>Customer - @Html.DisplayFor(modelItem => item.CustomerId)</p>
                            <p>Country - @Html.DisplayFor(modelItem => item.CountryId)</p>
                        </h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.StreetAddress)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.City)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Zip)</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
