@model IEnumerable<WebTestApp.Models.Address>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row row-cols-1 row-cols-md-2">
    @foreach (var item in ViewData["adresses"] as IList<Address>)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">
                            <p>CustomerID - @Html.DisplayFor(modelItem => item.CustomerId)</p>
                            <p>CountryID - @Html.DisplayFor(modelItem => item.CountryId)</p>
                        </h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.StreetAddress)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.City)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Zip)</p>
                    </div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>